---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "About",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-12">About</h1>
	<div class="prose prose-sm prose-cactus max-w-none">
		<p>
			Este blog es el lugar principal donde entrelazo pensamientos varios, curiosidades, fotos, y en realidad, cualquier cosa que se me ocurra pueda ser útil como referencia para mi en el futuro o útil para alguien mas que se anime a leerme. Algunos de los posts estarán en desarrollo; otros estarán terminados y será en general, algo en constante evolución.
		</p>
		<p>
			Este proyecto personal comenzó con mi curiosidad por experimentar como posicionar una página en el buscador de Google y se convirtió en uno de mis hobbies mas preciados y al que trato de dedicarle tiempo a pesar de mis ocupaciones. En el pasado estaba hosteado en Wordpress pero con el tiempo decidí moverme a hostearlo con Github pages, puede que escriba alguna post en el futuro explicando detalles.
		</p>
	</div>
</PageLayout>
